.message-field {
  min-width: 600px;
  height: 200px;
  margin: 10px;
}

.message-label {
  color: grey;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.submit-button {
  background-color: lightgrey;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.user-list-container {
  position: absolute;
  z-index: 1000;
}

.user-list {
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 200px;
}

.user-list li {
  padding: 8px;
  cursor: pointer;
}

.user-list li:hover {
  background-color: #f0f0f0;
}
