.comment {
  display: flex;
  margin-bottom: 10px;
  color: gray;
  justify-content: space-between;
  border-bottom: lightgrey 1px solid;
  padding-bottom: 10px;

  .comment-content {
    flex: 1;
  }

  .comment-meta {
    display: flex;
  }
}

.no-border {
  border-bottom: none;
}
